body {

    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;

    /* Short form (top, right, bottom, left*/
    margin: 0, 0, 0, 0;

    background-color: gray;

    border-width: 1px;
    border-style: dashed;
    border-color: green;

    /* or (last takes precedence)*/

    border: 1px dashed #404040;

}

header, main, footer {

    width: 960px;
    background: white;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-bottom: 2px solid black;

}

 main img {

    margin-left: 240px;
    border: 2px solid black;

}

main div {

    padding: 5px;
    padding-top: 0px;
    background: #C0C0C0;

}

nav ul {

    list-style-type: none;
    margin: 0;
    padding: 0;

}

nav ul li {
    display: inline-block;
}

nav ul li a:link,
nav ul li a:visited{

    text-decoration: none;
    background: #404040;
    color: white;
    padding: 10px;

}

nav ul li a:hover{

    background: #C0C0C0;

    color: black;

}

nav ul li a.current{

    opacity: 0.5;

}

footer div {

    padding: 15px;
    background: #C0C0C0;

}